fractol.pdf
fractol
objs/
srcs/myLib/objs/
srcs/myLib/libft.a
srcs/myLib/make_output.txt
make_output.txt
.DS_Store
fractol_test.c
fractol.txt
LICENSE
*a.out
*.dSYM
*program
Test/
.vscode
*.drawio
.gitmodules